<h1>Prueba dialog</h1>

<div>
  <h4>tipo 2</h4>
  <button
    (click)="op2.show($event)"
    pButton
    pRipple
    type="button"
    autofocus
    icon="pi pi-user"
    label="historial de pagos"
    class="p-button-rounded p-button-info p-button-outlined mt-5"
  ></button>
  <p-overlayPanel #op2 [dismissable]="true" [focusOnShow]="false">
    <ng-template pTemplate>
      <form (ngSubmit)="authUsers()">
        <div class="grid flex flex-column">
          <div class="col-12 md-12 input-form">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
              <input type="text" pInputText placeholder="E-mail" />
            </div>
          </div>

          <div class="col-12 md-12 input-form">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
              <input
                type="text"
                pInputText
                placeholder="cedula de ciudadania"
              />
            </div>
          </div>
        </div>
        <button
          pButton
          autofocus
          pRipple
          type="submit"
          label="Ingresar"
          class="p-button-raised p-button-danger p-button-sm p-mr-1"
        ></button>
      </form>
    </ng-template>
  </p-overlayPanel>
</div>


<div>
  <h4>tipo 2</h4>
  <button
    (click)="showDialog()"
    pButton
    pRipple
    type="button"
    autofocus
    icon="pi pi-user"
    label="historial de pagos"
    class="p-button-rounded p-button-info p-button-outlined mt-5"
  ></button>
  <p-dialog header="Title" [(visible)]="display">
    <form (ngSubmit)="authUser()">
      <div class="grid flex flex-column">
        <div class="col-12 md-12 input-form">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="E-mail" />
          </div>
        </div>
        <div class="col-12 md-12 input-form">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
            <input
              type="text"
              pInputText
              placeholder="cedula de ciudadania"
            />
          </div>
        </div>
      </div>
      <button
        pButton
        autofocus
        pRipple
        type="submit"
        label="Ingresar"
        class="p-button-raised p-button-danger p-button-sm p-mr-1"
      ></button>
    </form>
  </p-dialog>

</div>